# System files
.DS_Store

venv/

# IDE settings
.idea/

# Python cached files
__pycache__/
*.pyc

# Specific directories and their contents
Functions/__pycache__/
Years/2023/Notebooks/.DS_Store
Years/2023/Notebooks/France/.DS_Store
Years/2023/Notebooks/France/__pycache__/
Old_Files/
Years/2023/data/.DS_Store
Years/2023/data/France/.DS_Store
ExtraData/Demographics/.DS_Store
ExtraData/Geodata/.DS_Store
Years/2023/data/UK/.DS_Store
